.PlanetItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding-left: 15px;
  padding-right: 15px;
}

.planet-img {
  width: 50%;
}

.name {
  color: white;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Roboto';
}

.description {
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}
